.comments{
    max-width: 1180px;
    margin: 0 auto 100px;
}

@media screen and (max-width: 1280px){
    .comments{
        padding-left: 48px;
        padding-right: 48px;

    }
}

@media screen and (max-width: 425px){
    .comments{
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 375px){
    .comments{
        padding-left: 16px;
        padding-right: 16px;
    }
}