.footer__links{
    display: flex;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 720px){
    .footer__links{
        font-size: 24px;
        line-height: 41px;
        flex-direction: column;
    }
}