@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__autor/comment__autor.css);
.comment{
    max-width: 380px;
}

@media screen and (max-width: 768px){
    .comment{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 47px;
    }
}