.video__item_bg-kamchatka{
    background-image: url(../image/kamchatka.png);
    border-radius: 5px;
    width: 583px;
    height: 323px;
}


@media screen and (max-width: 1024px){
    .video__item_bg-kamchatka{
        width: 456px;
        height: 288px;
    }
}

@media screen and (max-width: 768px){
    .video__item_bg-kamchatka{
        width: 352px;
        height: 200px;
    }
}

@media screen and (max-width: 678px){
    .video__item_bg-kamchatka{
        margin-bottom: 8px;
        width: 450px;
        height: 250px;

    }
}

@media screen and (max-width: 520px){
    .video__item_bg-kamchatka{
        width: 350px;
        height: 200px;

    }
}

@media screen and (max-width: 400px){
    .video__item_bg-kamchatka{
        width: 288px;
        height: 200px;
        
    }
}

@media screen and (max-width: 320px){
    .video__item_bg-kamchatka{
        width: 288px;
        height: 192px;
    }
}

@media screen and (max-width: 240px){
    .video__item_bg-kamchatka{
        width: 200px;
        height: 192px;
    }
}