.place__link{
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.place__link:hover{
    opacity: 0.4;
    transition: linear 0.4s;
}