.cover__title{
    z-index: 1;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin-top: 274px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px){
    .cover__title{
        margin-top: 211px;
        max-width: 925px;
    }
}

  @media screen and (max-width: 768px){
    .cover__title{
        margin-top: 165px;
    }
}

  @media screen and (max-width: 540px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 343px;
        margin-top: 104px;
    }
}

@media screen and (max-width: 320px){
  .cover__title{
      font-size: 32px;
      line-height: 35px;
      max-width: 343px;
      margin-top: 64px;
  }
}